html {
    background-color:black;
    color:white;
    font-family: "terminus (ttf)", monospace;
    font-size:14pt;
    line-height:1.3;
}

h1 {
    font-family: "arial", sans-serif;
    font-size: 150%;
}

h1, h2, h3 {
    line-height:1.2;
    margin: 20px 0 0;
}

body {
    width:50%;
    min-width:900px;
    margin:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow:1;
}

a.logo {
    color:white;
    text-decoration: none;
    font-family: "arial", sans-serif;
    font-size:60pt;
    font-weight:700;
    font-style:italic;
    line-height:1.2;
}

hr {
    height:1px;
    border: none;
    background-color:white;
    margin-top:0px;
}

.navbar-item::before {
    content:'[';
}

.navbar-item::after {
    content:']';
}

.navbar-item {
    text-decoration:none;
    color:white;
    font-size:16pt;
}

.navbar-item:hover, .footer-item:hover, a.post-title:hover {
    text-decoration:none;
    color:#f07;
}

.footer-item {
    text-decoration:none;
    color:white;
}

ul {
    list-style-type: none;
    padding:0;
}

footer li {
    margin-bottom: 10px;
}

.footer-item i {
    margin-right:10px;
}

pre {
    background-color:#222;
    font-size:10pt;
    font-family: Fira Mono, Liberation Mono, monospace, sans-serif;
    line-height: 1.3;
    overflow: auto;
    padding: 1em 1.5em;
}

a.post-title::before {
    content:'[';
}

a.post-title::after {
    content:']';
}

a.post-title {
    text-decoration:none;
    color:white;
    font-size:150%;
    vertical-align:middle;
}

.post-meta {
    color:#888;
    font-size:90%;
}

.post-meta a {
    text-decoration:none;
    color:#888;
}

.post-meta a:hover {
    text-decoration:none;
    color:#f07;
}

li p {
    margin:0;
}

article a {
    text-decoration:none;
    color:#f07;
}

article a:hover {
    text-decoration:underline;
}

img {
    max-width:100%;
}
