<head>
  <meta charset="utf-8">
  <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/fontawesome.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/brands.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="{{ "css/vars.css" | relURL }}" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}" type="text/css" charset="utf-8" />
</head>
